<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>售后培训</title>
<link rel="stylesheet" href="/static/secondPage/index-03.css" type="text/css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

</head>

<body>
<div class="nav">
<div class="containter-com">
	
	<a javascript: ";" style="margin-right:30%">

	</a>
	<img style="cursor:pointer;" src="/static/secondPage/img/logo.png" onclick="window.location.href='/index'">
	<div class="nav-list">
		<img class="nav-img" src="/static/secondPage/img/daohang-k.png">
		<ul class="nav-ul" style="   height: 260px;">
			<li>
				<a href="/news">公司新闻</a>
			</li>
			<li>
				<a href="/notice">通知通告</a>
			</li>
			<li>
				<a href="#">产品介绍</a>
			</li>
			<li>
				<a href="/after_sale">售后培训</a>
			</li>
			<li>
				<a href="#">联系我们</a>
			</li>
		</ul>

		</div>
	<a href="" style="margin-left:30%">
		<img src="/static/secondPage/img/leave.png">
	</a>
	</div>

</div>

<div class="containter-com">
<div class="tit">售后培训</div>
	
<div class="letter">
	<div class="tite">
		<div class="bar-top">
			<img src="/static/secondPage/img/cloud.png">
			<span>云服务器ECS</span>
		</div>
		<div class="small-tit">让产品使用更加简单！</div>
		<p></p>
	</div>
	<div class="content-01">
		<div class="move-01">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
		<div class="move-02">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
		<div class="move-02">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="zhegai"></div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
		<div class="move-01" style="margin-top: 20px;">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
		<div class="move-02" style="margin-top: 20px;">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
		<div class="move-02" style="margin-top: 20px;">
			<div class="back">
				<img src="/static/secondPage/img/sale-01.jpg">
			</div>
			<div class="cover"></div>
			<div class="mott">云服务
				<p>售后操作视频</p>
			</div>
			<div class="eng">Cloud Service Ecs After service
				<P>Operation Video</P>
			</div>
			<div class="play">
				<img src="/static/secondPage/img/play.png">
			</div>
		</div>
	</div>
	<div class="content-02">
		<div class="video" style="margin-top:100px;">
			<img src="/static/secondPage/img/sale-02.jpg">
			<div class="cover"></div>
			<div class="play">
				<img src="/static/secondPage/img/play-..png">
			</div>
			<div class="mott">CLOUD SERVICE
				<p>ECS VIDEO</p>
			</div>
			<div class="eng">云服务ECS操作视频</P>
			</div>
		</div>
		<div class="video" style="margin-top:100px;">
			<img src="/static/secondPage/img/sale-02.jpg">
			<div class="cover"></div>
			<div class="play">
				<img src="/static/secondPage/img/play-..png">
			</div>
			<div class="mott">CLOUD SERVICE
				<p>ECS VIDEO</p>
			</div>
			<div class="eng">云服务ECS操作视频</P>
			</div>
		</div>
		<div class="video" style="margin-top:100px;">
			<img src="/static/secondPage/img/sale-02.jpg">
			<div class="cover"></div>
			<div class="play">
				<img src="/static/secondPage/img/play-..png">
			</div>
			<div class="mott">CLOUD SERVICE
				<p>ECS VIDEO</p>
			</div>
			<div class="eng">云服务ECS操作视频</P>
			</div>
		</div>
		<div class="video" style="margin-top:100px">
			<img src="/static/secondPage/img/sale-02.jpg">
			<div class="cover" style="width: 321px;"></div>
			<div class="play">
				<img src="/static/secondPage/img/play-..png">
			</div>
			<div class="mott">CLOUD SERVICE
				<p>ECS VIDEO</p>
			</div>
			<div class="eng">云服务ECS操作视频</P>
			</div>
		</div>
	</div>
</div>
</div>

<div class="record">南京托伦特信息技术有限公司版权所有<p><a href="http://www.miit.gov.cn/">备案号：苏ICP备18032759号-1</a></p></div>
</body>
</html>
<script>

	$(function () {
		// 首屏点击展开
		$(".nav .nav-list").hover(
			function (e) {
				$(".nav-ul").slideDown();
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-g.png");
				e.stopPropagation();
			}, function (e) {
				$(".nav-ul").stop().slideUp()
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-k.png");
				e.stopPropagation()
			}
		);
		// 固定导航栏
		$(window).scroll(function () {
			if ($(document).scrollTop() > 0) {
				$(".nav").css({ "position": "fixed", "top": 0 });
				$("body").css({ "padding-top": 160 + "px" });
			} else {
				$(".nav").css({ "position": "relative", "top": 0, });
				$("body").css({ "padding-top": 0 });
			}
		});
	})
			
</script>