<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>新闻详情</title>
<link rel="stylesheet" href="/static/secondPage/index-01.css" type="text/css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

</head>

<body>
<div class="nav">
	<div class="containter-com">

		<a javascript: ";" style="margin-right:30%">

		</a>
		<img style="cursor:pointer;" src="/static/secondPage/img/logo.png" onclick="window.location.href='/index'">
		<div class="nav-list">
			<img class="nav-img" src="/static/secondPage/img/daohang-k.png">
			<ul class="nav-ul" style="   height: 260px;">
				<li>
					<a href="/news">公司新闻</a>
				</li>
				<li>
					<a href="/notice">通知通告</a>
				</li>
				<li>
					<a href="#">产品介绍</a>
				</li>
				<li>
					<a href="/after_sale">售后培训</a>
				</li>
				<li>
					<a href="#">联系我们</a>
				</li>
			</ul>

		</div>
		<a href="" style="margin-left:30%">
			<img src="/static/secondPage/img/leave.png">
		</a>
	</div>

</div>

<div style="width: 1200px;margin: 0 auto;"><div class="tit">新闻</div></div>

<div class="details">
	<div class="headline">OceanConnect  车联网平台数字化每一辆车</div>
	<div class="roof">
		<div class="intro-01">
			<p>日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7</p>
			<img src="/static/secondPage/img/new_11.jpg">
		</div>
		<div class="intro-02">
			<img src="/static/secondPage/img/new_12.jpg">
			<p>日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区......日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区......日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区......</p>
		</div>
		
	</div>
	
	
	<div class="acti">
		<div class="acti-tit">更多活动<p></p></div>
		<div class="matter">
			<div class="mat-01">
				<img src="img/aic.jpg">
				<div class="mat-con">
					<div class="mat-tit">OceanConnect  车联网平台数字化每一辆车</div>
					<div class="com"><a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a></div>
					<div class="mat-date">2018.05.21</div>
				</div>
			</div>

			<div class="mat-02">
				<img src="img/aic.jpg">
				<div class="mat-con">
					<div class="mat-tit">OceanConnect  车联网平台数字化每一辆车</div>
					<div class="com"><a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a></div>
					<div class="mat-date">2018.05.21</div>
				</div>
			</div>

			<div class="mat-01">
				<img src="/static/secondPage/img/aic.jpg">
				<div class="mat-con">
					<div class="mat-tit">OceanConnect  车联网平台数字化每一辆车</div>
					<div class="com"><a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a></div>
					<div class="mat-date">2018.05.21</div>
				</div>
			</div>
			
			<div class="mat-02">
				<img src="/static/secondPage/img/aic.jpg">
				<div class="mat-con">
					<div class="mat-tit">OceanConnect  车联网平台数字化每一辆车</div>
					<div class="com"><a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a></div>
					<div class="mat-date">2018.05.21</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="record">南京托伦特信息技术有限公司版权所有<p><a href="http://www.miit.gov.cn/">备案号：苏ICP备18032759号-1</a></p></div>
</body>
</html>
<script>

	$(function () {
		// 首屏点击展开
		$(".nav .nav-list").hover(
			function (e) {
				$(".nav-ul").slideDown();
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-g.png");
				e.stopPropagation();
			}, function (e) {
				$(".nav-ul").stop().slideUp()
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-k.png");
				e.stopPropagation()
			}
		);
		// 固定导航栏
		$(window).scroll(function () {
			if ($(document).scrollTop() > 0) {
				$(".nav").css({ "position": "fixed", "top": 0 });
				$("body").css({ "padding-top": 160 + "px" });
			} else {
				$(".nav").css({ "position": "relative", "top": 0, });
				$("body").css({ "padding-top": 0 });
			}
		});
	})

</script>