<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>通知通告</title>
<link rel="stylesheet" type="text/css" href="/static/secondPage/index-02.css">
<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/common.js"></script>
</head>

<body>
<div class="nav">
	<div class="containter-com">

		<a javascript: ";" style="margin-right:30%">

		</a>
		<img style="cursor:pointer;" src="/static/secondPage/img/logo.png" onclick="window.location.href='/index'">
		<div class="nav-list">
			<img class="nav-img" src="/static/secondPage/img/daohang-k.png">
			<ul class="nav-ul" style="   height: 260px;">
				<li>
					<a href="/news">公司新闻</a>
				</li>
				<li>
					<a href="/notice">通知通告</a>
				</li>
				<li>
					<a href="#">产品介绍</a>
				</li>
				<li>
					<a href="/after_sale">售后培训</a>
				</li>

				<li>
					<a href="#">联系我们</a>
				</li>
			</ul>

		</div>
		<a href="" style="margin-left:30%">
			<img src="/static/secondPage/img/leave.png">
		</a>
	</div>

</div>
<div class="containter-com">
<div style="width: 1200px;margin: 0 auto;"><div class="tit">通知通告</div></div>

<div class="top clearfix">

			<div class="swiper-container">
				<!-- <div class="swiper-button-prev"></div>
						        	<div class="swiper-button-next"></div> -->
				<div class="swiper-wrapper lis clearfix">
					<div class="swiper-slide" style="width:300px" data-swiper-autoplay="1500">
						<div class="con-01">
							<img src="/static/secondPage/img/imgs-01.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02 con-mar">
							<img src="/static/secondPage/img/imgs-02.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02">
							<img src="/static/secondPage/img/imgs-03.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
			
						</div>
					</div>
					<div class="swiper-slide" style="width:300px" data-swiper-autoplay="1700">
						<div class="con-01">
							<img src="/static/secondPage/img/imgs-01.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02 con-mar">
							<img src="/static/secondPage/img/imgs-02.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02">
							<img src="/static/secondPage/img/imgs-03.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
			
						</div>
					</div>
					<div class="swiper-slide" style="width:300px" data-swiper-autoplay="1700">
						<div class="con-01">
							<img src="/static/secondPage/img/imgs-01.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02 con-mar">
							<img src="/static/secondPage/img/imgs-02.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
						</div>
						<div class="con-02">
							<img src="/static/secondPage/img/imgs-03.jpg">
							<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
							<div class="more-01">
								<a href="/notice_detail">More</a>
							</div>
			
						</div>
					</div>
				</div>
			</div>

	<div class="car">
		<img class="prev-slide" src="/static/secondPage/img/left.png">
		<img class="next-slide" src="/static/secondPage/img/right.png">
	</div>
	<!-- <div class="lis clearfix">
		<div class="con-01">
			<img src="img/imgs-01.jpg">
			<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
			<div class="more-01">
				<a href="notice-detail.html">More</a>
			</div>
		</div>
		<div class="con-02 con-mar">
			<img src="img/imgs-02.jpg">
			<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
			<div class="more-01">
				<a href="notice-detail.html">More</a>
			</div>
		</div>
		<div class="con-02">
			<img src="img/imgs-03.jpg">
			<div class="tit-01">华为发布OceanConnect车联网 平台,数字化每一辆车</div>
			<div class="more-01">
				<a href="notice-detail.html">More</a>
			</div>

	</div> -->
</div>

<div class="barnch">
	<div class="tite">
		<div class="bar-top">
			<img src="/static/secondPage/img/icon-01.png">
			<span>文化交流</span>
		</div>
		<div class="bar-font">
			<div class="small-tit">让产品使用更加简单！</div>
			<p></p>
		</div>
	</div>
	<div class="fir">
		<img src="/static/secondPage/img/imgs-11.jpg">
		<div class="fir-con">
			<div class="fir-tit">OceanConnect 车联网平台数字化每一辆车</div>
			<div class="com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7</div>
		</div>
		<div class="fir-right">
			<div class="fir-dat">Company News 2018.05.21</div>
			<div class="fir-more">
				<a href="/notice_detail">More</a>
			</div>
		</div>
	</div>
	<div class="senc">
		<img src="/static/secondPage/img/imgs-12.jpg">
		<div class="senc-con">
			<div class="senc-tit">OceanConnect 车联网平台数字化每一辆车</div>
			<div class="com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7</div>
		</div>
		<div class="senc-right">
			<div class="senc-dat">Company News 2018.05.21</div>
			<div class="senc-more">
				<a href="/notice_detail">More</a>
			</div>
		</div>
	</div>
	<div class="senc">
		<img src="/static/secondPage/img/imgs-13.jpg">
		<div class="senc-con">
			<div class="senc-tit">OceanConnect 车联网平台数字化每一辆车</div>
			<div class="com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7</div>
		</div>
		<div class="senc-right">
			<div class="senc-dat">Company News 2018.05.21</div>
			<div class="senc-more">
				<a href="/notice_detail">More</a>
			</div>
		</div>
	</div>
	<div class="last">
		<img src="/static/secondPage/img/imgs-14.jpg">
		<div class="last-con">
			<div class="last-tit">OceanConnect 车联网平台数字化每一辆车</div>
			<div class="com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7</div>
		</div>
		<div class="last-right">
			<div class="last-dat">Company News 2018.05.21</div>
			<div class="last-more">
				<a href="/notice_detail">More</a>
			</div>
		</div>
	</div>
	<ul class="clearfix">
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<div class="acti">
	<div class="acti-tit">更多活动
		<p></p>
	</div>
	<div class="matter">
		<div class="mat-01 clearfix">
			<img src="/static/secondPage/img/aic.jpg">
			<div class="mat-con">
				<div class="mat-tit">OceanConnect 车联网平台数字化每一辆车</div>
				<div class="com">
					<a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a>
				</div>
				<div class="mat-date">2018.05.21</div>
			</div>
		</div>

		<div class="mat-01 clearfix">
			<img src="/static/secondPage/img/aic.jpg">
			<div class="mat-con">
				<div class="mat-tit">OceanConnect 车联网平台数字化每一辆车</div>
				<div class="com">
					<a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a>
				</div>
				<div class="mat-date">2018.05.21</div>
			</div>
		</div>

		<div class="mat-01 clearfix">
			<img src="/static/secondPage/img/aic.jpg">
			<div class="mat-con">
				<div class="mat-tit">OceanConnect 车联网平台数字化每一辆车</div>
				<div class="com">
					<a href="">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7...</a>
				</div>
				<div class="mat-date">2018.05.21</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>

<div class="record">南京托伦特信息技术有限公司版权所有<p><a href="http://www.miit.gov.cn/">备案号：苏ICP备18032759号-1</a></p></div>
</body>


</html>

<script>

	$(function () {

		var mySwiper = new Swiper('.swiper-container', {
			//autoplay: true,//可选选项，自动滑动
			speed: 600,//调慢的时候就能清楚看到bug了.........切换显示区域布局有问题
			// speed: 200, 默认300 
			loop: true,
			navigation: {
				nextEl: '.next-slide',
				prevEl: '.prev-slide',
			},
			// width:136,
			// height:240
		})
		mySwiper.width = 400 + "px";


		// 首屏点击展开
		$(".nav .nav-list").hover(
			function (e) {
				$(".nav-ul").slideDown();
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-g.png");
				e.stopPropagation();
			}, function (e) {
				$(".nav-ul").stop().slideUp()
				$(".nav-img").attr("src", "/static/secondPage/img/daohang-k.png");
				e.stopPropagation()
			}
		);
		// 固定导航栏
		$(window).scroll(function () {
			if ($(document).scrollTop() > 0) {
				$(".nav").css({ "position": "fixed", "top": 0 });
				$("body").css({ "padding-top": 160 + "px" });
			} else {
				$(".nav").css({ "position": "relative", "top": 0, });
				$("body").css({ "padding-top": 0 });
			}
		});
	})

</script>
