<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/jquery.fullPage.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/index.css">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<script src="/static/js/jquery.fullPage.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
	<title>托伦特 TORRENT洪流
	</title>
</head>

<body>
	<div id="fullpage">
		<div class="section">
		<div class="banner">
			<div class="containter-com">
				<div class="top">
					<div class="nav">
						<img class="nav-img" src="/static/secondPage/img/daohang-k.png">
						<ul class="nav-ul" style="   height: 260px;">
							<li><a href="/news">公司新闻</a></li>
							<li><a href="/notice">通知通告</a></li>
							<li><a href="#">产品介绍</a></li>
							<li><a href="/after_sale">售后培训</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
					</div>
					<div class="logo">
						<img style="cursor:pointer;" src="/static/img/logo.png" onclick = "window.location.href='index.html'">
					</div>
					<div class="login">
						<img src="/static/img/leave.png">
					</div>
				</div>
				<div class="txt">我们汇聚所有 我们转化所有 我们回馈所有
					<p>We gather all we convert all we give back all</p>
				</div>
			</div>
		</div>
		<div class="swiper-ban swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-01" data-swiper-autoplay="2000"></div>
				<div class="swiper-slide swiper-02" data-swiper-autoplay="2000"></div>
				<div class="swiper-slide swiper-03" data-swiper-autoplay="2000"></div>
			</div>
		</div>
	</div>

		<div class="new section">
			<div class="containter-com">
			<div class="back-left"></div>
			<div class="new-left">
				<div class="order-01">01</div>
				<div class="new-tit">公司新闻
					<span>Company News</span>
				</div>
				<div class="new-present">OceanConnect
					<p>车联网平台</p>数字化每一辆车</div>
				<div class="new-com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。</div>
				<div class="foll">
					<a href="">...</a>
				</div>
				<div class="more">
					<a href="/news">More</a>
				</div>
			</div>
			<div class="new-right">
				<img src="/static/img/xinwen.jpg">
			</div>
		</div>
		</div>
		<div class="notice section">
			<div class="containter-com">
			<div class="not-left">
				<div class="not-02">02</div>
				<div class="not-tit">通知公告
					<span>Announcement</span>
				</div>
			</div>
			<div class="not-right">
				<div class="wu">
					<img src="/static/img/service.png">
					<span>日常事务</span>
				</div>
				<div class="not-present">WGDC2018
					<p>空间大数据+海洋大数据</p>峰会召开</div>
				<div class="not-com">日前，华为与法国标致雪铁龙集团构建了全球最大的前装车联网项目，首款基于该平台的车型DS7已上线中国、欧洲地区。</div>
				<div class="foll">
					<a href="">...</a>
				</div>
				<div class="more">
					<a href="/notice">More
					</a>
				</div>
			</div>
			</div>
		</div>

		<div class="pro section">
			<div class="containter-com">
			<div class="pro-left">
				<img src="/static/img/chanpin.jpg">
			</div>
			<div class="back-right"></div>
			<div class="pro-right">
				<div class="order-03">03</div>
				<div class="pro-tit">产品介绍
					<span>Product Description</span>
				</div>
				<div class="pro-com">洪流（Torrent）智能盒子是以用户闲置的宽带资源为依托，利用洪流（Torrent）网络加速和家庭数字娱乐平台为纽带，将用户闲置的宽带、计算和存储资源进行二次开发形成云计算服务能力，不仅可以通过互联网开放平台将闲置资源转租给对云计算资源有大量需求的第三方企业，而且可以连接家庭电视机为用户提供网络加速、视频播放、互动游戏、视频电话、电视购物、远程教育等优质数字娱乐内容。</div>
			</div>
			</div>
		</div>

		<div class="after-sale section">
			<div class="af-top">
				<div class="order-04">04</div>
				<div class="af-tit">售后培训
					<span>After Sales Training</span>
				</div>
			</div>
			<ul class="af-center">
				<li class="af-01">
					<div class="tp-01">
						<div class="pic">
							<img src="/static/img/pic-01.png">
						</div>
						<P>云服务器ECS</P>
					</div>
				</li>
				<li class="af-02">
					<div class="tp-02">
						<div class="pic">
							<img src="/static/img/pic-2.png">
						</div>
						<P>云服务器ECS</P>
					</div>
				</li>
				<li class="af-03">
					<div class="tp-02">
						<div class="pic">
							<img src="/static/img/pic-3.png">
						</div>
						<P>云服务器ECS</P>
					</div>
				</li>
				<li class="af-04">
					<div class="tp-02">
						<div class="pic">
							<img src="/static/img/pic-4.png">
						</div>
						<P>云服务器ECS</P>
					</div>
				</li>
			</ul>
			<div class="af-down">
				<a href="/after_sale">More</a>
			</div>
		</div>
		<div class="con section">
			<div class="con-us">
				<div class="con-tit">联系我们
					<P>Contact Us</P>
				</div>
				<ul class="icon clearfix">
					<li><img src="/static/img/microblog.png"></li>
					<li><img src="/static/img/wechat.png"></li>
					<li><img src="/static/img/phone.png"></li>
				</ul>
				<div class="ip">南京托伦特信息技术有限公司
					<p>地址：南京市鼓楼区集庆门大街268号苏宁慧谷E08-2幢2618室</p>
				</div>
			</div>
			<div class="record">南京托伦特信息技术有限公司版权所有
				<p>
					<a href="http://www.miit.gov.cn/">备案号：苏ICP备18032759号-1</a>
				</p>
			</div>
		</div>

	</div>
</body>

</html>

<script>
	$(function () {
		$('#fullpage').fullpage({
			navigation: true,
			navigationPosition:"right"
		});

		var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,//可选选项，自动滑动
        speed: 600,
        loop:true,

    })


		$(".nav").hover(
			function (e) {
				$(".nav-ul").stop().slideDown();
				$(".nav-img").attr("src", "/static/img/daohang-g.png");
				e.stopPropagation();
			}, function (e) {
				$(".nav-ul").stop().slideUp()
				$(".nav-img").attr("src", "/static/img/daohang-k.png");
				e.stopPropagation()
			}
		);


		$(".af-center .af-01").on("mouseover",function () {
			$(this).find("img").attr("src", "/static/img/pic-1.png")
			$(this).find("p").css("color", "#666")
		})
		$(".af-center .af-01").on("mouseout",function () {
			$(this).find("img").attr("src", "/static/img/pic-01.png")
			$(this).find("p").css("color", "#fff")
		})
		$(".af-center .af-02").on("mouseover",function () {
			$(this).find("img").attr("src", "/static/img/pic-2-1.png")
			$(this).find("p").css("color", "#666")
		})
		$(".af-center .af-02").on("mouseout",function () {
			$(this).find("img").attr("src", "/static/img/pic-2.png")
			$(this).find("p").css("color", "#fff")
		})
		$(".af-center .af-03").on("mouseover",function () {
			$(this).find("img").attr("src", "/static/mg/pic-3-1.png")
			$(this).find("p").css("color", "#666")
		})
		$(".af-center .af-03").on("mouseout",function () {
			$(this).find("img").attr("src", "/static/img/pic-3.png")
			$(this).find("p").css("color", "#fff")
		})
		$(".af-center .af-04").on("mouseover",function () {
			$(this).find("img").attr("src", "/static/img/pic-4-1.png")
			$(this).find("p").css("color", "#666")
		})
		$(".af-center .af-04").on("mouseout",function () {
			$(this).find("img").attr("src", "/static/img/pic-4.png")
			$(this).find("p").css("color", "#fff")
		})

	});
</script>